# Save this file as .github/workflows/ostree-build.yml in your repository

name: Build and Push Ostree Container Images

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build-and-push:
    strategy:
      matrix:
        variant: [silverblue]
  
    env:
      IMAGE_NAME: ${{ vars.IMAGE_REPO_BASE }}${{ matrix.variant }}

    name: Build and Push Ostree Image
    runs-on: ubuntu-latest
    
    container:
      image: ${{ vars.BUILDER_IMAGE }}:latest
      # --privileged is required for running podman build within a container
      options: --privileged --user 1000

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_PAT }}

      - name: Build unchunked container image
        working-directory: ${{ matrix.variant }}
        run: podman build . --pull=always -t ${{ env.IMAGE_NAME }}-unchunked

      - name: Create chunked OCI image for ostree
        # podman unshare is needed to run rpm-ostree which requires specific user namespace capabilities
        run: podman unshare rpm-ostree compose build-chunked-oci --bootc --from ${{ env.IMAGE_NAME }}-unchunked--output containers-storage:${{ env.IMAGE_NAME }}-unchunked

      #- name: Push chunked image to Docker Hub
      #  run: podman push ${{ env.IMAGE_REPO }}-silverblue