# Save this file as .github/workflows/ostree-build.yml in your repository

name: Build and Push Ostree Container Images

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build-and-push:
    strategy:
      matrix:
        variant: [ silverblue, silverblue-desktop ]
  
    env:
      IMAGE_NAME: ${{ vars.IMAGE_REPO_BASE }}/${{ matrix.variant }}

    name: Build and Push ${{ matrix.variant }} Image
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Login to registry
        run: buildah login -u=${{ vars.DOCKER_HUB_USER }} -p=${{ secrets.DOCKER_HUB_PAT }} ${{ vars.DOCKER_REGISTRY }}

      - name: Build image
        working-directory: ${{ matrix.variant }}
        run: buildah bud --pull=always --format oci -t ${{ env.IMAGE_NAME }}

      - name: Push image to registry
        run: buildah push  --compression-format zstd:chunked ${{ env.IMAGE_NAME }}
      
      - name: Logout from registry
        if: always()
        run: buildah logout