name: Builder Image Build

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0' # This runs at midnight every Sunday

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_PAT }}
      - name: Build image
        run: docker build . -t ${{ vars.BUILDER_IMAGE }}:latest -f Containerfile

      - name: Push image
        run: docker push ${{ vars.BUILDER_IMAGE }}:latest